/* size change for ipad and iphone screens
  use @media queries */

.input-space {
  font-family: Arial;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(236, 236, 236);
}

.problem-box,
.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem-box .input-space,
.problem-box .enter-button,
.chat-box .gpttext-container,
.chat-box .input-space,
.chat-box .enter-button,
.whiteboard-box .whiteboard {
  border: 1px solid rgb(150, 148, 148);
  border-radius: 5px;
}

.problem-box .input-space {
  resize: vertical;
  min-width: 500px;
  min-height: 50px;
  max-height: 150px;
}
.enter-button {
  padding: 5px 15px;
  margin: 12px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
  font-family: Arial;
  font-size: 14px;
  color: black;
}
.problem-box .enter-button:hover,
.chat-box .enter-button:hover {
  background-color: rgb(208, 208, 208);
}
.problem-box .enter-button:active,
.chat-box .enter-button:active {
  background-color: rgb(175, 174, 174);
}


.middle-section {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin-top: 15px;
}
.middle-section .whiteboard-box {
  margin-right: 20px; 
}
.whiteboard {
  cursor: crosshair;
}

.chat-box .gpttext-container {
  /* position: relative; */
  width: 250px;
  height: 380px;
  font-family: Arial;
  font-size: 14px;
}

.chat-box .input-space {
  resize: none;
  width: 230px;
  height: 50px;
  display: flex;
  align-items: flex-start;

}
.gpttext-container .header {
  /* position: sticky; */
  padding: 10px;
  background-color: lightblue;
}
.chat-area {
  padding: 10px;
  overflow-y: auto;
  height: 300px;
}

.chat-out {
  display: flex;
  background-color: pink;
  padding: 0px 10px;
  border-radius: 10px 10px 0px 10px;
  justify-content: end;
  max-width: fit-content;
  max-height: fit-content;
  justify-self: end;
  margin-bottom: 3px;
}



