.input-space {
  font-family: Arial;
  font-size: 14px;
  margin-top: 10px;
  padding: 10px;
  background-color: rgb(236, 236, 236);
}

.problem-box,
.chat-box {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.problem-box .input-space,
.problem-box .enter-button,
.chat-box .gpttext,
.chat-box .input-space,
.chat-box .enter-button,
.whiteboard-box .whiteboard {
  border: 1px solid rgb(150, 148, 148);
  border-radius: 5px;
}

.problem-box .input-space {
  resize: vertical;
  min-width: 500px;
  min-height: 50px;
  max-height: 150px;
}
.problem-box .enter-button,
.chat-box .enter-button {
  padding: 5px 15px;
  margin: 12px;
  background-color: rgb(236, 236, 236);
  cursor: pointer;
}
.problem-box .enter-button:hover,
.chat-box .enter-button:hover {
  background-color: rgb(208, 208, 208);
}
.problem-box .enter-button:active,
.chat-box .enter-button:active {
  background-color: rgb(175, 174, 174);
}


.middle-section {
  display: flex;
  flex-direction: row;
  align-items: top;
  justify-content: center;
  margin-top: 15px;
}
.middle-section .whiteboard-box {
  margin-right: 20px; 
}
.whiteboard {
  height: 400px;
  width: 500px;
  border: 1px solid black; 
  cursor: crosshair;
}

.chat-box .gpttext {
  width: 230px;
  height: 260px;
  padding: 10px;
  font-family: Arial;
  font-size: 14px;
}
.chat-box .input-space {
  resize: none;
  min-width: 230px;
  min-height: 50px;
  max-height: 80px; 
}
